.site-navigation {
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  height: 4.5rem;

  .top-nav {
    display: none;
  }

  ul {
    margin: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .icon {
    background: #f68114;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 1rem 0 0;
    color: white;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(82, 82, 82);
  }
}

.site-navigation.show {
  .top-nav {
    display: flex;
    background-color: #f68114;
    height: 4.5rem;
    box-shadow: 1px 1px 5px rgb(82, 82, 82);
  }

  .icon {
    box-shadow: none;
  }
}

@media (min-width: 700px) {
  .site-navigation {
    top: 375px;
    right: 0;
    left: 0;
    width: 9rem;
    height: 9rem;
    display: flex;
    .top-nav {
      display: block;

      li {
        margin-top: 1rem;
      }
    }
    .icon {
      display: none;
    }
  }
}
