.site-navigation {
  display: flex;
  justify-content: space-between;
  background-color: #f68114;
  color: white;
  border-radius: 25px;
  margin: 0 0.5rem;
  width: 334px;
  position: fixed;
  bottom: 20px;
  right: 0;
  box-shadow: 1px 1px 5px rgb(82, 82, 82);

  .top-nav {
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    margin-left: 0.5rem;
    li {
      list-style: none;
      margin-right: 1rem;
    }
    a {
      text-decoration: none;
      font-size: 1.25rem;
      color: inherit;
    }
  }
  .icon {
    width: 4.5rem;
    height: 4.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.site-navigation.hidden {
  width: 4.5rem;
  overflow: hidden;
  .top-nav {
    display: none;
  }
}

@media (min-width: 700px) {
  .site-navigation.hidden,
  .site-navigation {
    top: 415px;
    right: 0;
    left: 0;
    position: sticky;
    width: 9rem;
    height: 9rem;
    display: flex;
    .top-nav {
      display: block;
      li {
        margin: 0.5rem 0;
      }
      a {
        font-size: 1.5rem;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .icon {
      display: none;
    }
  }
}
