.site-header {
  // color: #0056b3;
  color: #1659a2;
  height: 20rem;

  .site-branding {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 20rem;

    h1,
    h2 {
      width: 100%;
      margin-left: 0.5rem;
      font-weight: 500;
    }
  }

  @media (min-width: 700px) {
    padding-left: 10rem;
    padding-right: 10rem;
    .site-branding {
      h1,
      h2 {
        font-weight: 700;
      }

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2rem;
      }
    }
  }
}
