.site-header {
  // color: #0056b3;
  color: #1659a2;
  height: 20rem;

  .site-branding {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 20rem;

    h1,
    h2 {
      width: 100%;
      margin-left: 0.5rem;
    }
  }
}
