.top-nav {
  // margin: 0 0.5rem;
  padding: 0 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 66px;
  background-color: white;
  box-shadow: 0 0.1rem 0.5rem #afb2b4;
  z-index: 50;

  ul {
    list-style: none;
    padding-inline-start: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
  }

  .name-home-link {
    font-size: 1.2rem;
  }

  .top-nav-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu-container.hidden {
    display: none;
  }

  .nav-menu-container {
    z-index: 100;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .close-icon {
      position: absolute;
      right: 8px;
      top: 16px;
    }

    .nav-menu {
      //   display: flex;
      width: 100%;
      text-align: center;
      padding-top: 3.5rem;

      li {
        margin-top: 2rem;
      }
    }
  }
}
