@use "fonts" as *;
@use "variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #faf9f6;
  margin: 0;
  font-family: $main-font;
  line-height: 1.6rem;

  main {
    margin-top: 5.2rem;
  }

  button {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font;
    font-weight: 500;
  }

  .site-wrapper {
    max-width: 1344px;
    display: block;
    margin: 0 auto;
  }

  // .section-wrapper,
  // .project-page {
  //   background-color: $blue;
  //   padding: 1.5rem 0.5rem;
  // }

  .page-wrapper {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .loading {
    display: block;
    margin: 1rem auto 8rem;
  }
}
