@use "fonts" as *;
@use "variables" as *;

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: $main-font;

  button {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font;
    font-weight: 500;
  }

  .site-wrapper {
    max-width: 1344px;
    display: block;
    margin: 0 auto;
  }

  img {
    max-width: 300px;
  }

  main {
    background-color: $blue;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media (min-width: 700px) {
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }
}
