$blue: #2480e2;
$dark_blue: #195ca3;
$orange: #f68114;

// project colours
$post1: rgb(245, 72, 72);
$post2: rgb(48, 144, 255);
$post3: rgb(252, 157, 42);
$post4: rgb(46, 160, 107);
$post5: rgb(233, 250, 42);
$post6: rgb(166, 37, 166);
