#page-about {
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  h1,
  h2 {
    text-align: center;
  }

  .about-lists {
    section {
      max-width: 335px;
      display: block;
      margin: 0 auto;
    }
  }

  @media (min-width: 1000px) {
    .about-lists {
      display: flex;
      section {
        width: 50%;
      }
      .wysiwyg-list {
      }
    }
  }
}
