#page-contact {
  color: white;
  margin: 0 0.5rem;
  h1 {
    text-align: center;
  }

  a {
    color: white;
  }

  .contact-links {
    text-align: center;
    background-color: #f68114;
    padding: 1rem 0;
    max-width: 526px;
    display: block;
    margin: 0 auto;
    font-size: 1rem;

    a {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 1rem;
    }
    svg {
      margin-right: 0.5rem;
    }
  }

  .contact-description {
    max-width: 526px;
    display: block;
    margin: 0 auto;
  }

  .contact-email-btn {
    background-color: transparent;
    border: none;
    color: white;
    margin: 1rem auto 0;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
