#page-contact {
  color: white;
  margin: 0 0.5rem;
  h1 {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .contact-links {
    text-align: center;
  }

  .contact-description {
    max-width: 526px;
    display: block;
    margin: 0 auto;
  }
}
