@use "../defaults/variables" as *;
.home,
.portfolio {
  .works {
    flex-wrap: wrap;
  }
  img {
    max-width: 342px;
  }
  .project {
    background-color: $blue;
    height: 228px;
    max-width: 432px;
    width: 100%;
    overflow: hidden;
    margin: 0.5rem auto 0;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0 0.1rem 0.5rem #afb2b4;

    .title-div {
      .hover-background {
        width: 100%;
        height: 35%;
        position: absolute;
        z-index: 25;
        background-color: White;
        left: 0;
        bottom: 0;
        border-radius: 25px 25px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: height ease 0.15s;
      }
      h3 {
        color: black;
      }
    }
  }

  @media (min-width: 640px) {
    .project {
      .title-div {
        .hover-background {
          height: 0%;
        }
      }
    }
    .project:hover {
      .title-div {
        .hover-background {
          height: 35%;
        }
      }
    }
  }

  @media (min-width: 904px) {
    .works {
      display: grid;
      grid-template-columns: 432px 432px;
      grid-template-rows: auto;
      column-gap: 8px;
      justify-content: center;
    }
  }

  @media (min-width: 1344px) {
    .works {
      grid-template-columns: 432px 432px 432px;
    }
  }
}

// custom coulors for projects //

// bonvin //
.project.red {
  background-color: $postred;
}

// caseriam //
.project.blue {
  background-color: $postblue;
}

// portfolio //
.project.orange {
  background-color: $postorange;
}

// neon-nights //
.project.grey {
  background-color: $postgrey;
}

// cat-catcher //
.project.green {
  background-color: $postgreen;
}

// php table //
.project.purple {
  background-color: $postpurple;
}
