@use "../defaults/variables" as *;

// .recent-works {
//   padding-top: 1rem;

//   h2 {
//     color: white;
//     text-align: center;
//     width: 100%;
//     border-bottom: 2px solid white;
//   }

//   .home-works {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   .project {
//     background-color: white;
//     border-radius: 10px;
//     text-align: center;
//     display: block;
//     margin: 3rem 0.5rem 0;
//     max-width: 416px;
//     box-shadow: 2px 2px 10px $dark_blue;

//     h3 {
//       font-size: 1.75rem;
//       color: $dark_blue;
//     }

//     img {
//       margin: 2rem auto 0.5rem;
//       border-radius: 8px;
//     }

//     .project-content-wrapper {
//       margin: 0 0.5rem;
//       padding-bottom: 2rem;

//       a {
//         text-decoration: none;
//         color: black;
//       }

//       .project-overview {
//         text-align: left;
//       }

//       .project-btn {
//         background-color: $orange;
//         padding: 0.5rem 1rem;
//         border-radius: 6px;
//         width: 14rem;
//         display: block;
//         margin: 2.5rem auto 0;
//         color: white;
//         border: 2px solid $orange;
//         box-shadow: 1px 1px 5px rgb(82, 82, 82);
//       }

//       .project-btn:hover {
//         border: 2px solid white;
//       }
//     }
//   }

//   .home-cta {
//     .cta-wrapper {
//       width: 224px;
//       display: block;
//       margin: 0 auto;
//     }
//     a {
//       text-decoration: none;
//     }
//     button {
//       background-color: $orange;
//       padding: 0.5rem 1rem;
//       border-radius: 6px;
//       width: 14rem;
//       display: block;
//       margin: 2.5rem auto 0;
//       color: white;
//       border: 2px solid $orange;
//       box-shadow: 1px 1px 5px rgb(82, 82, 82);
//     }
//     button:hover {
//       border: 2px solid white;
//     }
//   }

//   @media (min-width: 500px) {
//     .project {
//       margin: 3rem auto;
//       h3 {
//         font-weight: 700;
//       }
//     }
//   }
// }

.portfolio {
  .works {
    // display: flex;
    flex-wrap: wrap;
  }
  img {
    max-width: 342px;
  }
  .project {
    background-color: $orange;
    height: 228px;
    max-width: 432px;
    width: 100%;
    overflow: hidden;
    margin: 0.5rem auto 0;
    display: flex;
    justify-content: center;
    position: relative;

    .title-div {
      .hover-background {
        width: 100%;
        height: 228px;
        position: absolute;
        z-index: 25;
        background-color: #2a2a2a;
        opacity: 0.4;
        left: 0;
      }
      h3 {
        position: absolute;
        top: 84px;
        left: 48px;
        color: white;
        z-index: 35;
      }
    }
  }
  .project#post-88 {
    background-color: $post1;
  }
  .project#post-29 {
    background-color: $post2;
  }
  .project#post-90 {
    background-color: $post3;
  }
  .project#post-26 {
    background-color: $post4;
  }
  .project#post-89 {
    background-color: $post6;
  }

  @media (min-width: 640px) {
    .project {
      .title-div {
        .hover-background {
          width: 0%;
        }
        h3 {
          display: none;
        }
      }
    }
    .project:hover {
      .title-div {
        .hover-background {
          width: 100%;
        }
        h3 {
          display: block;
        }
      }
    }
  }

  @media (min-width: 904px) {
    .works {
      display: grid;
      grid-template-columns: 432px 432px;
      grid-template-rows: auto;
      column-gap: 8px;
      justify-content: center;
    }
  }

  @media (min-width: 1344px) {
    .works {
      grid-template-columns: 432px 432px 432px;
    }
  }
}
