@use "../defaults/variables" as *;

.portfolio {
  .works {
    flex-wrap: wrap;
  }
  img {
    max-width: 342px;
  }
  .project {
    background-color: $orange;
    height: 228px;
    max-width: 432px;
    width: 100%;
    overflow: hidden;
    margin: 0.5rem auto 0;
    display: flex;
    justify-content: center;
    position: relative;

    .title-div {
      .hover-background {
        width: 100%;
        height: 228px;
        position: absolute;
        z-index: 25;
        background-color: #2a2a2a;
        opacity: 0.4;
        left: 0;
      }
      h3 {
        position: absolute;
        top: 84px;
        left: 48px;
        color: white;
        z-index: 35;
      }
    }
  }
  .project#post-88 {
    background-color: $post1;
  }
  .project#post-29 {
    background-color: $post2;
  }
  .project#post-90 {
    background-color: $post3;
  }
  .project#post-26 {
    background-color: $post4;
  }
  .project#post-89 {
    background-color: $post6;
  }

  @media (min-width: 640px) {
    .project {
      .title-div {
        .hover-background {
          width: 0%;
        }
        h3 {
          display: none;
        }
      }
    }
    .project:hover {
      .title-div {
        .hover-background {
          width: 100%;
        }
        h3 {
          display: block;
        }
      }
    }
  }

  @media (min-width: 904px) {
    .works {
      display: grid;
      grid-template-columns: 432px 432px;
      grid-template-rows: auto;
      column-gap: 8px;
      justify-content: center;
    }
  }

  @media (min-width: 1344px) {
    .works {
      grid-template-columns: 432px 432px 432px;
    }
  }
}
