@use "../defaults/variables" as *;

.site-wrapper main .project-page {
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  h1,
  h2 {
    font-weight: 300;
    text-align: center;
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    color: white;
    display: block;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
  }

  section {
    margin-top: 2.5rem;
  }

  .project-page-skills {
    h2 {
      border-bottom: none;
    }
    .skills-list {
      background-color: white;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 0.1rem 0.5rem #afb2b4;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none;
      padding-inline-start: 0;

      li {
        color: black;
        font-size: 1rem;
        border: 2px solid $blue;
        border-radius: 15px;
        padding: 0.5rem;
        margin: 0.5rem;
      }
    }
  }

  .project-page-features {
    .project-feature {
      margin: 3rem auto 0;
      max-width: 550px;
    }
  }

  .project-links-wrapper {
    display: flex;
    justify-content: space-around;
    background-color: $blue;
  }

  .project-page-takeaways {
    max-width: 550px;
    margin: 2.5rem auto 0;
  }

  @media (min-width: 800px) {
    img {
      max-width: 32rem;
    }
    .project-page-description {
      max-width: 800px;
      margin: 0 auto;
    }
  }
  @media (min-width: 1200px) {
    .header-description-flex-wrapper {
      display: flex;
      picture {
        order: 99;
      }
      img {
        padding: 2rem 2rem 2rem 7rem;
      }
      .project-page-description {
        padding-left: 2rem;
      }
    }
    .project-page-features {
      display: flex;
      flex-wrap: wrap;
      h2 {
        width: 100%;
      }
      .project-feature {
        margin-top: 0;
      }
    }
  }
}

// custom colours for projects //
.site-wrapper main .project-page#bon-vin {
  .project-page-skills {
    li {
      border: 2px solid $post1;
    }
  }
  .project-links-wrapper {
    background-color: $post1;
  }
}

.site-wrapper main .project-page#neon-nights {
  .project-page-skills {
    li {
      border: 2px solid $post2;
    }
  }
  .project-links-wrapper {
    background-color: $post2;
  }
}

.site-wrapper main .project-page#personal-portfolio {
  .project-page-skills {
    li {
      border: 2px solid $post3;
    }
  }
  .project-links-wrapper {
    background-color: $post3;
  }
}

.site-wrapper main .project-page#cat-catcher {
  .project-page-skills {
    li {
      border: 2px solid $post4;
    }
  }
  .project-links-wrapper {
    background-color: $post4;
  }
}

.site-wrapper main .project-page#php-admin-table {
  .project-page-skills {
    li {
      border: 2px solid $post6;
    }
  }
  .project-links-wrapper {
    background-color: $post6;
  }
}
