.site-wrapper main .project-page {
  color: white;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  h1,
  h2 {
    text-align: center;
  }

  a {
    color: white;
    display: block;
    text-align: center;
  }
}
